# Telegram Bot Token
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Getir Credentials
GETIR_USERNAME=your_getir_username
GETIR_PASSWORD=your_getir_password

# Getir API
GETIR_API_BASE_URL=https://franchise-api-gateway.getirapi.com
GETIR_RECAPTCHA_SITE_KEY=6LfRdRobAAAAAGtQPnhju9dtpIU0eeMuJ_4ogcGa
